@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

/*
  * CSS RESET
*/

/* Remove default margin and padding */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol,
li {
  list-style: none;
}

/* remove anchor link default styles */
a {
  text-decoration: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* set default font */
body {
  font-family: "DM Sans", sans-serif;
}

/*
  * CSS VARIABLES
*/

:root {
  /* colros */
  --clr-red: hsl(10, 79%, 65%);
  --clr-cyan: hsl(186, 34%, 60%);
  --clr-brown: hsl(25, 47%, 15%);
  --clr-brownlight: hsl(28, 10%, 53%);
  --clr-cream: hsl(27, 66%, 92%);
  --clr-orange: hsl(33, 100%, 98%);

  /* typography */
  --fs-xs: 0.75rem;
  --fs-s: 1rem;
  --fs-m: 1.2rem;
  --fs-l: 1.8rem;

  --fw-s: 400;
  --fw-l: 700;
}

/* STYLES */

.container {
  padding: 1rem;
}

.app {
  min-height: 100vh;
  background-color: var(--clr-cream);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.balance,
.stats {
  /* set dynamic width to fit all devices */
  width: min(25rem, 100%);
  border-radius: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.balance {
  background-color: var(--clr-red);
  color: var(--clr-orange);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.balance__info {
  display: flex;
  flex-direction: column;
}

.balance__info > p:last-child {
  font-size: var(--fs-m);
  font-weight: var(--fw-l);
}

.stats {
  background-color: var(--clr-orange);
  color: var(--clr-brown);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.stats__title {
  font-size: var(--fs-m);
  font-weight: var(--fw-l);
}

.stats__chart {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.stats__vector,
.stats__days {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-content: center;
}

.stats__vector__item {
  justify-self: center;
  background-color: var(--clr-red);
  width: 2.2rem;
  height: 5rem;
  border-radius: 0.2rem;
}

.stats__day {
  justify-self: center;
  font-size: var(--fs-xs);
  font-weight: var(--fw-s);
  color: var(--clr-brownlight);
}

.stats__summary {
  display: flex;
  justify-content: space-between;
  border-top: 0.1rem solid var(--clr-brownlight);
  padding-top: 1.5rem;
}

.stats__summary p {
  font-size: var(--fs-s);
  font-weight: var(--fw-s);
  color: var(--clr-brownlight);
}

.stats__month-current,
.stats__month-last {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.stats__month-current > h1 {
  font-size: var(--fs-l);
  font-weight: var(--fw-l);
  color: var(--clr-brown);
}
